<!DOCTYPE html>
<html>
<head>
  <title>Testingdatatable</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.flash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
  <script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.print.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
